.nav-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  z-index: 10;
}

.logo-container {
  img {
    width: 75px;
    height: 75px;
  }
}

.menu-burger-container {
  .top-bun,
  .bottom-bun {
    height: 4px;
    width: 35px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
  }
  z-index: 10;
}

.nav-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 100px;
  background: #524763;
}

.nav-wrapper a {
  display: block;
  text-align: left;
  font-size: 4rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease border;
  border-bottom: solid 4px transparent;
}

.nav-wrapper a:hover {
  border-bottom: solid 4px #82d8d8;
}
